@model CharacterSorterSite.ViewModels.FranchiseViewModel

<h1>(Central Page  This Central Page is intending to replace the other)</h1>

<div class="container border border-5 border-dark">
    <div class="row">
        <div class="col height1"></div>
    </div>

    <div class="row">
        <div class="col height2 border border-3 border-dark text-center ">
            <label for="firstboxText" class="border border-3 border-dark">
                Welcome to the Character sorter, where you will be putting
                characters from different game franchises, anime, or manga to
                comfortably sort who is really your favourites
            </label>
        </div>
    </div>
    <form id="franchiseForm" action="https://localhost:7244/voting/index" method="post">
        <div class="row">
            <div class="col border border-3 border-dark center-this-button">
                <button id="proceedButton" type="button" class="btn btn-danger">
                    Proceed
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col height2 border border-3 border-dark text-center">
                <label for="firstboxText">Choose your filters below </label>
            </div>
        </div>

        <div class="row row-cols-3">
            @foreach (Franchise franchise in Model.Franchises)
            {
                @if (Model.SelectAll == true)
                {
                    <div class="col">
                        <div class="form-check-input-active-filter">
                            <input class="form-check-input franchise-checkbox" checked type="checkbox" value="@franchise.Id" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                @franchise.Name

                            </label>
                        </div>
                    </div>
                }
                else if (Model.DeselectAll == true)
                {
                    <div class="col">
                        <div class="form-check-input-active-filter">
                            <input class="form-check-input franchise-checkbox" type="checkbox" value="@franchise.Id" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                @franchise.Name
                            </label>
                        </div>
                    </div>
                }
                else if (franchise.Name == "Naruto")
                {
                    <div class="col">
                        <div class="form-check-input-active-filter">
                            <input class="form-check-input franchise-checkbox" checked type="checkbox" value="@franchise.Id" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                @franchise.Name

                            </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col">
                        <div class="form-check-input-active-filter ">
                            <input class="form-check-input franchise-checkbox" type="checkbox" value="@franchise.Id" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                @franchise.Name

                            </label>
                        </div>
                    </div>
                }
            }
        </div>
    </form>


    <div class="row justify-content-between">
        <div class="col-auto">
            <a asp-controller="Home" asp-action="SelectAllFranchises" class="btn btn-primary">Select All</a>
        </div>
        <div class="col-auto">
            <a asp-controller="Home" asp-action="DeselectAllFranchises" class="btn btn-danger">Deselect All</a>
        </div>
    </div>


</div>

<div class="container border border-5 border-red">
    <div class="row">
        <div class="col border border-3 border-dark height2">
            <a asp-controller="Centralpage" asp-action= class="btn btn-primary">
                Status Summary
            </a>
        </div>
        <div class="col border border-3 border-dark height3">
            <label for="firstboxText">Central Page </label>
        </div>
        <div class="col border border-3 border-dark height2">
            <a asp-controller="Centralpage" asp-action= class="btn btn-primary">
                Filters
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <input type="text" placeholder="Search.." />
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <label for="firstboxText">Character Viewer </label>
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2 center-this-button">
            <a asp-controller="Centralpage" asp-action= class="btn btn-success">
                Initiate Voting
            </a>
        </div>
    </div>
    <div class="row"> @*update checklist button here*@
        <div class="center-this-button">
            <button id="updateChecklistButton">
                UpdateChecklist
            </button>
        </div>
    </div>
</div>